.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  min-height: 160px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper {
  padding: 0 25px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between
}

.user-active {
  width: 20%;
  margin-top: 30px;
}

.user-list {
  margin-top: 30px;
  width: 75%;
}

.table-list {
  overflow:hidden;
  border:1px solid #d3d3d3;
  background:#fefefe;
  width:100%;
  -moz-border-radius:5px; /* FF1+ */
  -webkit-border-radius:5px; /* Saf3-4 */
  border-radius:5px;
  -moz-box-shadow:   4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:   4px rgba(0, 0, 0, 0.2);
}

.table-list  tr {
  cursor: pointer;
}

th, td {
  padding: 15px 0px 15px; 
  text-align:center; 
}

th {
  padding-top:22px; 
  background:#e8eaeb;
  color: #fff;
}

td {
  border-top:1px solid #e0e0e0; 
  border-right:1px solid #e0e0e0;
}

tr.odd-row td {
  background:#f6f6f6;
}

td.first, th.first {
  text-align:left
}

td.last {
  border-right:none;
}

td {
  background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
  background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

tr.odd-row td {
  background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
  background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

th {
  /* background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
  background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb)); */
  background: #222;
}

tr:first-child th.first {
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px; /* Saf3-4 */
}

tr:first-child th.last {
  -moz-border-radius-topright:5px;
  -webkit-border-top-right-radius:5px; /* Saf3-4 */
}

tr:last-child td.first {
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

tr:last-child td.last {
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

.table-list tbody tr:hover td  {
  background: #ccc;
}


.active-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
  padding: 10px;
  border-radius: 10px;
}

.active-user__img {
  max-width: 100%;
}

.user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info__select {
  padding:7px 0px;
  margin: 0;
}

.user-info__adress {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.user-info__adress span {
  padding: 4px 0
}


textarea {
  width: 100%;
  min-height: 150px;
  resize: none;
  
}

.search-bar__input {
  box-shadow: 0px 0px 3px 0px inset;
  outline: none;
  width: 35%;
  border-radius: 5px;
  border: 4px solid #bcf;
  padding: 7px 15px;
  margin-bottom: 10px;
  height: 20px;
  font-size: 16px;
}

.search-bar__input:focus{
  outline: red;
  
}

.wrapper-preload {
	width: 100%;
	height: 100vh;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle, .circle:before, .circle:after {
	border: 3px solid transparent;;
}

.circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	position: relative;
	border-top-color: #bcf;
	animation: preloader 1s infinite linear;
}

.circle:before, .circle:after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.circle:before {
	top:10px;
	left:10px;
	right:10px;
	bottom: 10px;
	border-top-color: #ccc;
	animation: preloader .8s infinite linear;
}

.circle:after {
	top: 23px;
	left: 23px;
	right: 23px;
	bottom: 23px;
	border-top-color: #65A6D1;
	animation: preloader .5s infinite linear;
}

@keyframes preloader {
	from {
		transform: rotate(0deg);
	}
	
	to {
		transform: rotate(360deg);
	}
}




